.chatBackground {
  min-height: 100vh;
  width: 100%;
  background-color: #99723a;
  font-family: sans-serif;
  display: flex;
}

.chat-title {
  width: 30%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.chatLogo {
  width: 50px;
  border-radius: 25px;
}

.ChatMainBody {
  /* border: purple solid; */
  max-width: 100%;
  min-width: 90%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./assets/cafe.jpg");
  /* Using the background-image property with a linear gradient: The background-image property in CSS supports the use of multiple backgrounds that are layered on top of each other. 
    Using the linear-gradient property, a black colored background is used as the front layer and the image to be darkened is used as the back layer. 
    The order of the background-image property specifies the front layer to be specified first before defining the layers at the back. 
    The opacity of the black gradient can be changed to control the amount of darkening. This can be used accordingly to darken the image as required*/
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* background-size: 1700px 1000px; */
  /* border-radius: 20px; */
  /* margin-top: 20px; */
  margin-left:5%;
  /* margin-right: 20px; */
  margin-bottom: 0px;
  display:flex;
  align-items: center;
  gap: 20px;
  color: white;
  overflow:hidden;
  flex-direction: column;
  padding-bottom: 100px;
  padding-top: 10px;
}

::placeholder {
  color: white;
}
/* .SideMenu {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: sticky;
  width: 10%;
  background-color: #e0c686;
}

.side-btn {
  color: black;
  width: 60px;
  height: 60px;
  font-size: 80%;
} */


.messages {
  background-color: rgb(211, 211, 211);
  color: black;
  min-width: 70%;
  max-width: 70%;
  /* overflow: hidden; */
}

.messages:hover{
  background-color: rgb(180, 180, 180);
}

.sent {
  /* margin-left: 40%; */
}

.received {
  /* margin-right: 50%; */
}

.sent,
.received {
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
}

.message-structure {
  min-width: 85%;
  max-width: 85%;
  display: flex;
  flex-direction: column;
}

.message-structure > p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  flex-wrap: wrap;
}

.message-info {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.message-details {
  display: flex;
  justify-content:space-between;
  font-size: 12px;
  color: gray;
}

.message-details > p{
    text-decoration: underline;
}

.timestamp{
  font-size: 10px;
}

.messages img {
  /* outline: 2px gray solid; */
  width: 75px;
  border-radius: 50px;
}

.deleteBtn {
  color: white;
  border-radius: 4px;
  border: none;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 15px;
  /* margin-left: auto; */
}


textarea {
  display: block;
  width: 100%;
  max-width: 70%; /* Adjust the percentage as needed */
  background-color: #7f7053;
  color: #fff;
  padding: 10px; /* Added padding for better visual appearance */
  border: none; /* Removed default border */
  border-radius: 5px;
  /* margin-top: 200px; */
  /* margin-bottom: 10px; */
}

.text-input {
  position: fixed;
  bottom: 5px;
}

.sendBtn {
  position: fixed;
  bottom: 10px;
  right: 9%;
  border:none;
}

.sendBtn:hover {
  background-color: rgb(205, 205, 205);
}

.mobile-deleteBtn {
  display: none;
}


@media (max-width: 1340px) {
  .message-structure{
    min-width:70%;
  }
  

}

@media (max-width: 775px) {
  .sent,
  .received {
    margin-left: 0;
    margin-right: 0;
  }
  .messages {
    min-width: 70%;
    margin-left: 5%;
    margin-right: 5%;
    overflow: auto; /* Added to allow scrolling within messages */
    flex-direction: column;
  }

  .message-info,
  .message-details {
    align-items: center;
    flex-direction: column;
    height: auto;
  }

  .mobile-deleteBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 5px;
    height: 10px;
    font-size: 10px;
  }

  .deleteBtn {
    display: none;
  }

  .ChatMainBody {
    /* margin: 0; */
    border-radius: 0;
  }

  .sendBtn {
    bottom: 10px;
    right: 15%;
    border:none;
  }

textarea{
  width: 50%;

  }
}

Link{
  color: white;
}

@media (min-width:2055px) {
  .sendBtn {
    right: 100px;
  }
  
}