.prodBackground{
    background-color:#E0C686 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.productsTitle{
    margin-top: 20px;
    text-align: center;
    width: 100%;
    border-bottom: black solid 2px;
}

.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 25px;
    font-size:25px;
}

.products > img{
    margin-top: 100px;
    width: 400px;
}

.productsLink{ 
    text-decoration: none;
}

.productsLinkDecor{
    margin-top: 200px;
}

@media (max-width:425px) {
    .products > img{
        width: 300px;
    }

    .products{
        font-size: 20px;
    }
    
}

@media (max-width:300px) {
    .products > img{
        width: 200px;
    }

    .products{
        font-size: 15px;
    }
    
}